body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
  border: 1px solid red;
}

.form {
  padding-top: 20px;
  margin: 100px auto;
  height: 600px;
  width: 500px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgba(133, 130, 130, 0.5);
}

label {
  margin: 20px 20px;
}

input {
  float: right;
  margin-right: 20px;
  margin-top: 0.5px;
  width: 300px;
}

.text-field {
  margin: 5px 10px;
}

.sauces {
  height: 100px;
}

.employed-label {
  margin-left: 30px;
}

.sauces-container {
  display: flex;
}

.sauces-label {
  margin-top: 5px;
  margin-left: 30px;
}

.sauces {
  float: left;
  margin-top: 5px;
}

.input-container {
  display: flex;
  flex-direction: row;
  height: 21px;
  margin-left: 45px;
}

.sauces-checkbox {
  width: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 13px;
  margin-top: 5px;
}

.employed-checkbox {
  margin-right: 35px;
}

.colors {
  margin-top: 5px;
  margin-left: 10px;
}

.color-input {
  float: right;
  margin-right: 38px;
  margin-top: 0.5px;
  width: 300px;
}

.stooge-container {
  height: 90px;
}

.stooge-label {
  float: left;
  margin-top: 0px;
  margin-left: 30px;
  height: 31px;
}

.stooge-input-container {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 50px;
  padding-left: 28px;
  margin-bottom: 5px;
}

.stoog-inputs {
  height: 70px;
}

.stooge-input {
  margin-top: 5px;
}

.note-container {
  height: 50px;
}

.note-label {
  float: left;
  margin-left: 30px;
  margin-top: 0px;
}

.note {
  height: 31px;
}

.btn {
  width: 70px;
  height: 30px;
  border-radius: 13%;
  border: 1px solid grey;
}

.submit-btn {
  background-color: rgb(87, 87, 224);
  color: white;
  margin-left: 182.5px;
  margin-right: 15px;
}

.pre {
  width: 90%;
  margin-left: 6%;
  border: 1px solid grey;
  background-color: rgb(226, 221, 221);
}